.search-city-input-contaner{
  display: flex;
  flex-direction: row;
}

.search-city-input{
  font-family: "Roboto-Regular";
  font-size: 1.6rem;
  height: 30px;
  width: 100%;
  margin-right: 10px;
  padding-left: 10px;
}

.search-city-input-button{
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .search-city-input-contaner{
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }